Source: xivo-utils
Section: utils
Priority: extra
Maintainer: Wazo Maintainers <dev.wazo@gmail.com>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 9)
Standards-Version: 3.9.6

Package: xivo-utils
Architecture: all
Depends: ghostscript-x, xivo-lib-python, python-requests
Provides: pf-xivo-utils
Conflicts: pf-xivo-utils
Replaces: pf-xivo-utils
Description: miscellaneous utilities for Wazo
 These are Asterisk unrelated utils needed for the Wazo solution.

